# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.DS_Store

# Dependency directories
node_modules/
coverage/

# Production directiories
dist/
lib/
public/

# Testing
*.snap

# Sonarqube
report-task.txt

.now